.page-header {
  border-bottom: 1px solid var(--border-color);
}

.nav-content .link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--main-color-text);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function-cubic);
}

.nav-content .item + .item,
.header-contacts .item + .item {
  margin-left: 50px;
}

/* =============== header contacts =============== */

.header-contacts .link {
  display: flex;
  padding: 32px 0;
  align-items: center;

  color: var(--subtitle-color);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function-cubic);
}

.header-contacts .header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.accent {
  color: var(--link-hover-color);
}

.nav-content .link:hover,
.nav-content .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.nav-content .link.current {
  color: var(--link-hover-color);
}

.nav-content .link.current::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: var(--link-hover-color);
  border-radius: 2px;
}

/* =============== flex header =============== */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-content {
  display: flex;
  margin-left: 93px;
}

.site-nav {
  display: flex;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
