$primaryTextColor: #212121;
$secondTextColor: #ffffff;
$hoverColor: #2196f3;
$primaryBtnColor: #188ce8;
$lightGreyColor: #757575;
$heroBgColor: #2f303a;

$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
